body {
  color: black;
  font-family: 'Monda', sans-serif;
  font-size: 16px;
}

.container {

  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

span {
  color: #77003C;
}




/* GRID STYLES */
.full-width {
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  text-align: center;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-flow: column;
  
}

.third-width {
  float: left;
  text-align: center;
  width: 100%;
}

.half-width {
  float: left;
  width: 100%;
  text-align: center;
}




/* HEADER */

.nav {
  float: right;
  padding: 75px 25px;
}

.nav ul {
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: #000000;
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.375em
}

#header p {
  font-size: 1.375em;
}

#header {
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

#header .full-width {
  text-align: center;
}

#header img {
  width: 3%;
}

/* ABOUT */
#about {
  background-color: #77003C;
  color: #ffffff;
  text-align: center;
}

#about h2{
  padding-bottom: 50px;
}

#work,
#about {
  padding: 100px;
}

img {
  width: 50%;
}

.about-words {
  margin: auto;
  text-align: center;
  width: 90%;
}

.me,
.my-work {
  text-align: center;
  clear: both;
}

.my-work h2 {
  padding-bottom: 100px;
}

.about-words {
  text-align: center;
}




/* WORK */

#work a {
  color: #000000;
  text-decoration: none;
}



/* FOOTER */


#contact {
  background-color: #77003C;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: column;

}

#contact p {
  font-size: 1.375em;
}

#contact img {
  padding-left: 10px;
  width: 5%;
}

#contact h2{
  padding-top: 100px;
  padding-bottom: 50px;
}

.copyright {
  padding-bottom: 5px;
}




@media only screen and (min-width: 1200px) {
  /* GRID STYLES */
  #contact {
    flex-direction: row;
    
  }

 
  #work {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .full-width {
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: row;
  
  }

  .third-width {
    float: left;
    text-align: center;
    width: 33.3%;

  }

  .half-width {
    float: left;
    width: 50%;
    text-align: center;
  }

.me,
.my-work {
  text-align: center;
}

#contact img {
  padding-left: 10px;
  width: 10%;
}



}